<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./istyle.css">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    </style>        
</head>
<body id="res">
    <div class="container">
        <div id="resimg">
           <img src="<%= path %>.jpg">
        </div>
        <div id="restitle">
            <h1><%= name %></h1>
        </div>
        <div id="resdesc">
            <h3><%= desc %></h3>
        </div>
    </div>
    <script src="./iindex.js"></script>
</body>
</html>